/* You can add global styles to this file, and also import other style files */

/* seo hack */

.hidden-trick {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
}